*{
    padding: 0;
    margin: 0;
}
body{
    background-color: powderblue;
    color:#ECEFF1;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}
.head{
    text-align: center;
    background-color: rgb(103, 116, 173);
    
}
h3{
    padding : 5px 0 5px 0
}
ul{
    margin-left: 2px;
}
.container{
    width: 800px;
    margin: 45px auto;
    box-shadow:0px 5px 5px 2px  #888888;
}
.sub-container{
    background-color: #FFF;
    display: flex;
    padding: 20px;
}
.divCol1{
    width: 40%;
    color: black;
}
.item{
    font-size: 16px;
    font-weight: 550;
}
.divRow1{
    border-bottom: 1px solid rgb(209, 204, 204); 
}
li{
    list-style: none;
}
.title{
    font-weight: 400;
}
.divCol2{
    color: black;
    width: 60%;
    padding-left: 20px;
}

.profile-img{
    width: 100px;
    border-radius: 60%;
    border: 5px solid;
    margin-top: 15px;
}

@media screen and (max-width : 800px) {
    body{
        width: 100%;
    }
}

.fa-facebook-square{
    font-size: 28px;
    color:rgb(60, 60, 82);;
}   
.fa-linkedin {
    font-size: 28px;
    color:rgb(60, 60, 82);;
} 
.fa-instagram-square{
    font-size: 28px;
    color:rgb(60, 60, 82);
}
.sub-title{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
}