*{
    padding: 0;
    margin: 0;
}
body{
    background-color: powderblue;
    color:#ECEFF1
}
.head{
    text-align: center;
    background-color: gray;
    
}
h3{
    padding : 5px 0 5px 0
}
ul{
    margin-left: 2px;
}
.container{

    width: 800px;
    height: 800px;
   margin: auto
}
.sub-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}
.divCol1{
    background-color: gray;
    width: 300px;
    height: 600px;
    padding-left: 20px;
   
}
#item{
    list-style: none;
}
.divRow1{
    border-bottom: 0.125rem solid white;
    
}
li{
    list-style: none;
}
.divCol2{
    background-color: #fff;
    color: black;
    width: 500px;
    height: 600px;
    padding-left: 20px;
   
}
.profile-img{
    width: 100px;
    border-radius: 50%;
    border: 5px solid;
}

@media screen and (max-width : 800px) {
    body{
        width: 100%;
    }
}